*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

textarea {
  width: 100%;
  resize: vertical;
}

#checkboxesOverlay {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
